* {
 font-family: 'Roboto', sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

a {
 text-decoration: none;
}

li {
 list-style-type: none;
}

.logo {
  cursor: pointer;
  outline: none;
  font-family: 'Satisfy', cursive;
  color: white;
}

#signin a {
 color: white;
}

#signup a {
 color: rgb(63,81,181);
 font-weight: bold;
}

/********** Profile Styling ********************/

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0 35px;
}

.userContainer {
  height: 100%;
  margin: 25px;
}

.boardsHeader {
  color: grey;
  text-align: center;
}

.boardThumbnail {
  /*border: 1px solid black;*/
  width: 200px;
  height: 100px;
  text-align: center;
  margin: 10px;
  color: white;
  background-color: steelblue;
}

.boardThumbnail p {
  display: inline-block;
  vertical-align: middle;
  padding-top: 20px;
}

.fa.fa-pencil {
  padding-left: 10px;
  color: #bbb;
}

.fa.fa-ellipsis-v {
  margin-top: 5px;
}

.dashboardMenuBar {
  z-index: 3;
}

.createBoardModal {
  padding: 15px;
}

.successfulInvite {
  color: green;
}

.userDoesntExist {
  color: red;
}

.cardModal {
  padding: 15px;
}

/********** Board Styling ********************/

button {
 background-color: #ddd;
 text-align: center;
 border: none;
 border-radius: 8px;
}

.boardMenuBar {
  width: 100%;
  height: 35px;
  background-color: dodgerblue;
  position: absolute;
  z-index: 1;
}

.boardTitle {
  font-size: 1.2em;
  display: inline;
  float: left;
  margin: 0;
  margin-left: 15px;
  color: white;
}

.boardMenuIcon {
  /*padding: 0;*/
  margin-top: 5px;
  margin-left: 0;
  color: white;
}

.boardMenu {
  display: inline;
  float:left;
  /*color: white;*/
  /*margin-top: 0;*/
  /*padding: 0;*/
}

.list {
 background-color:  #eee;
 width: 250px;
 height: 100%;
 max-height: calc(100vh - 140px);
 display: inline;
 float: left;
 padding: 10px;
 padding-left: 5px;
 text-align: center;
 overflow: hidden;
}

.cardList {
  overflow: scroll;
  max-height: 700px;
  max-height: calc(100vh - 200px);
  margin-bottom: 35px;
}

.addList {
  float: left;
  display: block;
  margin-top: 5px;
  width: 100px;
  height: 50px;
  color: #616161;
}

.editListTitle {
  margin: 0 auto;
  margin-bottom: 10px;
  font-weight: bold;
  color: #616161;
}

.removeList {
  margin-left: 220px;
  margin-right: 0;
  border-radius: 2px;
  height: 25px;
  width: 25px;
  color: #8B8B8B;
}

.card {
 padding: 5px 0px 5px 15px;
 width: 210px;
 min-height: 30px;
 background-color: #fff;
 text-align: left;
 word-wrap: break-word;
}

.cardText {
  font-size: .9em;
  padding: 0px 2px;
  margin: 5px 0px;
  color: #616161;
}

.addNewCard {
  width: 270px;
  height: 30px;
  /*margin: 0 auto;*/
  position: absolute;
  text-align: center;
  background-color: #eee;
  margin-left: -10px;
  bottom: 0;
  color: #8B8B8B;
  padding-top: 10px;
}

.removeCard {
  border-radius: 2px;
  height: 20px;
  width: 20px;
  float: right;
  font-size: .7em;
  background-color: white;
  color: darkgrey;
}


/******************** Drag and Drop Styles ***********************/
.mainContainer {
 width: 2000px;
 overflow-x: auto;
 padding-left: 5px;
 padding-top: 35px;
}
/**
* For the correct positioning of the placeholder element, the dnd-list and
* it's children must have position: relative
*/

ul[dnd-list],
ul[dnd-list] > li {
 position: relative;
 /*border: 1px solid black;*/
 float: left;
 margin: 5px;
}

/**** mainContainer Stylying *****/
/**
* The dnd-list should always have a min-height,
* otherwise you can't drop to it once it's empty
*/

.mainContainer ul[dnd-list] {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 5px;
  margin-bottom: 10px;
  /*border: 1px solid black;*/
  /*margin-left: 15px;*/
}

/**
* The dnd-lists's child elements currently MUST have
* position: relative. Otherwise we can not determine
* whether the mouse pointer is in the upper or lower
* half of the element we are dragging over. In other
* browsers we can use event.offsetY for this.
*/

.mainContainer li {
 display: block;
 /*border: 1px solid black;*/
 border-radius: 6px;
 /*padding: 10px;*/
}

/**
* The dndDraggingSource class will be applied to the source element of a drag
* operation. It makes sense to hide it to give the user the feeling that he's
* actually moving it. Note that the source element has also .dndDragging class.
*/

.mainContainer .dndDraggingSource {
   display: none;
}

/**
* An element with .dndPlaceholder class will be added as child of the dnd-list
* while the user is dragging over it.
*/

.mainContainer .dndPlaceholder {
  background-color: white !important;
  /*min-height: 50px;*/
  border: none;
  width: 320px;
  display: block;
}

.mainContainer li .dndPlaceholder {
  background-color: #ddd !important;
  min-height: 60px;
  margin: 5px;
  width: 225px;
  /*display: block;*/
}

/****** Element type specific styles *******/

.mainContainer .list {
 min-height: 120px !important;
 /*padding: 10px;*/
 margin: 5px;
}

.mainContainer .list > li {
 margin: 0 auto;
 display: inline-block;
 /*border-radius: 2px;*/
 color: #fff;
 height: 500px;
 width: 200px;
 text-align: center;
}

.cardModalText:hover {
  background-color: pink;
  cursor: pointer;
}

.comment {
  white-space: pre-wrap;
  background-color: grey;
  margin: 5px;
}


/************* master styles for main dashboard view **************/

.boardView {
  overflow: scroll;
  height: 100%;
  width: 100%;
}

.chatView {
  background-color: white;
  position: fixed;
  top: 35px;
  right: 0;
  width: 30%;
  height: 650px;
  /*background-color: lightblue;*/
  z-index: 2;
}

.message {
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 5px;
  padding-left: 10px;
  height: 25px;
  background-color: #eee;
  color: #616161;
  border-radius: 10px;
  border-bottom-left-radius: 5px;
  width: 75%;
}
​
.messageInput {
  margin: 0 auto;
  display: block;
  border: 1px solid darkgrey;
  width: 450px;
  height: 25px;
  /*position: fixed;*/
  position: absolute;
  bottom: 0;
}

.messageContainer {
  overflow: scroll;
}
/**
 * ng-inline-edit v0.7.0 (http://tamerayd.in/ng-inline-edit)
 * Copyright 2015 Tamer Aydin (http://tamerayd.in)
 * Licensed under MIT
 */

.ng-inline-edit__input {
  border: 0;
  outline: 0;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.ng-inline-edit__inner-container {
  display: inline-block;
}
.ng-inline-edit__button {
  cursor: pointer;
}

/* leave at end of css */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
