* {
 font-family: 'Roboto', sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

a {
 text-decoration: none;
}

li {
 list-style-type: none;
}

body {
  overflow-y: hidden;
}

/************************* Nav Bar **********************************/
.navBar {
  width: 100%;
  height: 50px;
  background-color: #2C3E50;
  margin-top: -21px;
  font-size: 1em;
  /*position: fixed;*/
}

.boardMenuBar {
  width: 100%;
  height: 35px;
  background-color: #2ECC71;
  position: absolute;
  z-index: 1;
}

.dashboardMenuBar {
  z-index: 3;
}

.profileMenuBar {
  position: fixed;
  width: 100%;
  height: 45px;
  background-color: dodgerblue;
}


.logo {
  cursor: pointer;
  outline: none;
  font-family: 'Satisfy', cursive;
  font-size: 1.75em;
  color: white;
  width: 150px;
  padding-top: 8px;
  padding-left: 15px;
}


.tools {
 float: right;
 padding-right: 2%;
 margin-top: -58px;
}

.tool {
  display: inline;
  height: 20px;
}



.profileContainer {
  min-height: calc(100vh - 118px);
  max-height: calc(100vh - 118px);
  overflow: scroll;
  padding-top: 70px;
  background-color: #34495E;
}

md-content {
    display: block;
    position: relative;
    overflow: auto;
    background-color: #34495E;
    margin-left: 35px;r
    -webkit-overflow-scrolling: touch;
}

md-card > img, md-card > :not(md-card-content) img {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
    min-width: 200px;
    height: auto;
}

md-card-content {
  background-color: #2ECC71;
  color: #34495E;
}

.fa-pencil:before {
    content: "\f040";
    color: #34495E;
}

#signin a {
 color: white;
}

#signup a {
 color: rgb(63,81,181);
 font-weight: bold;
}

/********** Profile Styling ********************/

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0 35px;
}

.userContainer {
  height: 100%;
  margin: 25px;
  margin-top: 70px;
}

.boardsHeader {
  color: #ECF0F1;
  text-align: center;
}

.boardThumbnail {
  border-radius: 4px;
  font-weight: bold;
  /*letter-spacing: 1.5px;*/
  width: 200px;
  height: 100px;
  text-align: center;
  margin: 10px;
  color: #2C3E50;
  background-color: #2ECC71;
}

.boardThumbnail p {
  display: inline-block;
  vertical-align: middle;
  padding-top: 20px;
}

.fa.fa-pencil {
  padding-left: 10px;
  color: #bbb;
}

.fa.fa-ellipsis-v {
  margin-top: 5px;
}

.createBoardModal {
  padding: 15px;
}

.successfulInvite {
  color: green;
}

.userDoesntExist {
  color: red;
}

.cardModal {
  padding: 15px;
}

/********** Board Styling ********************/

button {
 background-color: #575C60;
 text-align: center;
 border: none;
 border-radius: 8px;
}



.boardTitle {
  font-size: 1.2em;
  display: inline;
  float: left;
  margin: 0;
  margin-left: 15px;
  color: #2C3E50;
}

.boardMenuIcon {
  /*padding: 0;*/
  margin-top: 5px;
  margin-left: 0;
  color: #2C3E50;
}

.boardMenu {
  display: inline;
  float:left;
  /*color: white;*/
  /*margin-top: 0;*/
  /*padding: 0;*/
}

.list {
 background-color:  #7F8C8D;
 width: 250px;
 height: 100%;
 max-height: calc(100vh - 140px);
 display: inline;
 float: left;
 padding: 10px;
 padding-left: 5px;
 text-align: center;
 overflow: hidden;
}

.cardList {
  overflow: scroll;
  max-height: 700px;
  max-height: calc(100vh - 200px);
  margin-bottom: 35px;
}

.addList {
  float: left;
  display: block;
  margin-top: 5px;
  width: 100px;
  height: 50px;
  color: #2ECC71;
}

.editListTitle {
  margin: 0 auto;
  margin-bottom: 10px;
  font-weight: bold;
  color: #fff;
}

.removeList {
  margin-left: 220px;
  margin-right: 0;
  border-radius: 2px;
  height: 25px;
  width: 25px;
  color: #2ECC71;
}

.card {
 padding: 5px 0px 5px 15px;
 width: 210px;
 min-height: 30px;
 background-color: #fff;
 text-align: left;
 word-wrap: break-word;
}

.cardText {
  font-size: .9em;
  padding: 0px 2px;
  margin: 5px 0px;
  color: #616161;
}

.addNewCard {
  width: 270px;
  height: 30px;
  /*margin: 0 auto;*/
  position: absolute;
  text-align: center;
  background-color: #7F8C8D;
  margin-left: -10px;
  bottom: 0;
  color: white;
  padding-top: 10px;
}

.removeCard {
  border-radius: 2px;
  height: 20px;
  width: 20px;
  float: right;
  font-size: .7em;
  background-color: white;
  color: darkgrey;
}


/******************** Drag and Drop Styles ***********************/
.mainContainer {
 width: 2000px;
 overflow-x: auto;
 padding-left: 5px;
 padding-top: 35px;
 min-height: calc(100vh);
 background-color: #ECF0F1;
}
/**
* For the correct positioning of the placeholder element, the dnd-list and
* it's children must have position: relative
*/

ul[dnd-list],
ul[dnd-list] > li {
 position: relative;
 /*border: 1px solid black;*/
 float: left;
 margin: 5px;
}

/**** mainContainer Stylying *****/
/**
* The dnd-list should always have a min-height,
* otherwise you can't drop to it once it's empty
*/

.mainContainer ul[dnd-list] {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 5px;
  margin-bottom: 10px;
  /*border: 1px solid black;*/
  /*margin-left: 15px;*/
}

/**
* The dnd-lists's child elements currently MUST have
* position: relative. Otherwise we can not determine
* whether the mouse pointer is in the upper or lower
* half of the element we are dragging over. In other
* browsers we can use event.offsetY for this.
*/

.mainContainer li {
 display: block;
 /*border: 1px solid black;*/
 border-radius: 6px;
 /*padding: 10px;*/
}

/**
* The dndDraggingSource class will be applied to the source element of a drag
* operation. It makes sense to hide it to give the user the feeling that he's
* actually moving it. Note that the source element has also .dndDragging class.
*/

.mainContainer .dndDraggingSource {
   display: none;
}

/**
* An element with .dndPlaceholder class will be added as child of the dnd-list
* while the user is dragging over it.
*/

.mainContainer .dndPlaceholder {
  background-color: white !important;
  /*min-height: 50px;*/
  border: none;
  width: 320px;
  display: block;
}

.mainContainer li .dndPlaceholder {
  background-color: #575C60 !important;
  min-height: 60px;
  margin: 5px;
  width: 225px;
  /*display: block;*/
}

/****** Element type specific styles *******/

.mainContainer .list {
 min-height: 120px !important;
 /*padding: 10px;*/
 margin: 5px;
}

.mainContainer .list > li {
 margin: 0 auto;
 display: inline-block;
 /*border-radius: 2px;*/
 color: #fff;
 height: 500px;
 width: 200px;
 text-align: center;
}

.cardModalText:hover {
  background-color: pink;
  cursor: pointer;
}

.comment {
  white-space: pre-wrap;
  background-color: grey;
  margin: 5px;
}

/************* master styles for main dashboard view **************/

.boardView {
  overflow: scroll;
  height: 100%;
  width: 100%;
}

.chatView {
  background-color: white;
  position: absolute;
  right: 0;
  width: 30%;
  height: 100%;
  /*background-color: lightblue;*/
  z-index: 2;
  /*border: 3px solid black;*/
}

.chatUsername {
  /*font-weight: bold;*/
  font-size: .8em;
  color: #ECF0f1;
  margin-bottom: 2px;
  margin-left: 15px;
}


.guestChatMessageBody {
  padding: 15px;
  height: 100%;
  background-color: #ECF0F1;
  color: #616161;
  /*background-color: #eee;
  color: #616161;*/
  /*background-color: dodgerblue;
  color: #ECF0F1;*/
  border-radius: 10px;
  border-bottom-left-radius: 3px;
  width: 80%;
  word-wrap: break-word;
  margin-top: 0;
}

.userChatMessageBody {
  padding: 15px;
  height: 100%;
  /*background-color: #eee;
  color: #616161;*/
  background-color: #2ECC71;
  color: #2C3E50;
  /*color: #ECF0F1;*/
  border-radius: 10px;
  border-bottom-right-radius: 3px;
  width: 80%;
  word-wrap: break-word;
  margin-top: 0;
}

.guestMessage {
  margin-left: 15px;
  margin-right: 30%;
  margin-top: 0;
  margin-bottom: 0px;
}

.userMessage {
  margin-left: 30%;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0px;
}
​
input, .messageInput {
  margin: 0 auto;
  border: 4px solid #34495E;
  width: 100%;
  height: 35px;
  padding-left: 10px;
  position: fixed;
  bottom: 0;
}

.messageContainer {
  min-height: calc(100vh - 90px);
  max-height: calc(100vh - 90px);

  background-color: #34495E;
  overflow: scroll;
}

.dashboardView {

}

/**
 * ng-inline-edit v0.7.0 (http://tamerayd.in/ng-inline-edit)
 * Copyright 2015 Tamer Aydin (http://tamerayd.in)
 * Licensed under MIT
 */

.ng-inline-edit__input {
  border: 0;
  outline: 0;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.ng-inline-edit__inner-container {
  display: inline-block;
}
.ng-inline-edit__button {
  cursor: pointer;
}

/* leave at end of css */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@media(max-width: 600px) {
  .flexContainer {
    padding-left: 67px;
  }
}

