<div class="dashboardContainer">
  <div class="navBar" layout="row">
    <h1 flex="66" ng-click="loadProfile()" class="logo">Town Hall</h1>
    <div class="navButtons">
      <md-button ng-click="loadProfile()">Profile</md-button>
      <md-button ng-click="signout()">Sign Out</md-button>
    </div>
  </div>
  <!-- <md-content layout="row">
  <div>Board Container Html Placeholder</div>
  <div class="chatContainer">
  chat
</div>
</md-content> -->
<div class="viewsContainer">
  <div layout="row">
    <!-- COLUMN ONE NAMED VIEW -->
    <div class="boardView" flex-sm="100" flex="75">
      <div ui-view="board"></div>
    </div>
    <!-- COLUMN TWO NAMED VIEW -->
    <div class="chatView" hide-sm flex="25" >
      <div ui-view="chat"></div>
    </div>
  </div>
</div>
</div>
