<div class="boardContainer" layout="row" ng-controller="boardCtrl">
  <div class="listContainer" layout="row">
    <ul layout="row" ng-sortable="listConfig">
      <li class="list" ng-repeat="list in lists">
        <div ng-click="editTitle(list)">{{list.title}}</div>
        <ul layout="column" ng-sortable="cardConfig">
          <li class="card" ng-repeat="card in list.cards">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">{{card.body}}</span>
                  <span class="md-subhead">{{card.createdBy}}</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="editCard(card)">Edit</md-button>
                <md-button ng-click="removeCard(list, $index)">Remove</md-button>
              </md-card-actions>
            </md-card>
          </li>
          <li class="unsortable" ng-show=!list.cards.length></li>
          <md-button ng-click="addCard(list)">Add Card</md-button>
          <md-button ng-click="removeList(lists, $index)">Remove List</md-button>
        </ul>
      </li>
    </ul>
    <md-button class="list" ng-click="addList()">Add List</md-button>
  </div>
</div>
