<div class="boardContainer" layout="row" ng-controller="boardCtrl">
  <div class="listContainer">
    <ul layout="row" ng-sortable="listConfig">
      <li class="list" ng-repeat="list in lists">
        <ul layout="column" ng-sortable="listConfig2">
          <li class="card" ng-repeat="card in list">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">{{card.body}}</span>
                  <span class="md-subhead">{{card.createdBy}}</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="editCard(card)">Edit</md-button>
                <md-button>Remove</md-button>
              </md-card-actions>
            </md-card>
          </li>
          <md-button ng-click="addCard(list)">Add Card</md-button>
        </ul>
      </li>
      <li class="list"><md-button ng-click="addList()">Add List</md-button></li>
    </ul>
  </div>
</div>
