<div>
  <h3>Create a New Board</h3>
  <form>
    <md-input-container>
      <label>Board Name</label>
      <input ng-model="newBoardName"></input>
    </md-input-container>
  </form>

  <form ng-submit="addInvite()">
  <md-input-container>
    <label>Add Members</label>
    <input ng-model="inviteMember" type="text"></input>
    <md-button type="submit">+</md-button>
  </md-input-container>
  </form>

  <div class="invitedBoardMembers">
    <p ng-repeat="member in boardMembers" ng-click="unInvite($index)">
      {{ member.email }}
    </p>
  </div>

  <md-button ng-click="createBoard()">Create Board</md-button>
</div>
