<div id="createBoardModalPopup" class="createBoardModal">
  <h3>Create a New Board</h3>
  <form>
    <md-input-container>
      <label>Board Name</label>
      <input ng-model="newBoardName"></input>
    </md-input-container>
  </form>

  <form ng-submit="addInvite()">
    <h4>Invite Members</h4>
    <md-input-container>
      <label>Add Members</label>
      <input ng-model="inviteMember" type="text"></input>
      <md-button id="inviteSubmit" type="submit">+</md-button>
    </md-input-container>
  </form>

  <div class="invitedBoardMembers">
    <p class="successfulInvite" id= "invitedMember" ng-repeat="member in boardMembers" ng-click="unInvite($index)">
      {{ member.email }}
    </p>
    <p class="userDoesntExist" ng-show="!userExists">*** {{inviteMember}} does not exist <br> please enter a valid email</p>
  </div>

  <md-button id="submitCreateBoard" ng-click="createBoard()">Create Board</md-button>
</div>
