<div class="profileContainer" ng-init="loadProfile()">
  <md-toolbar class="md-medium">
    <div class="md-toolbar-tools" layout="row" flex>
      <h1 ng-click="refreshProfile()" class="logo"><i class="fa fa-university"></i>Town Hall</h1>

      <span flex></span>
      <md-menu md-offset="0 60">
        <md-button ng-show="invitations.length" class="md-icon-button" style="float:right;" aria-label="Open menu" ng-click="$mdOpenMenu($event)">
          <md-icon class="fa fa-bell"></md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item ng-repeat="invitation in invitations">
            <div class="invitation">{{invitation.board_createdby.name}} invited you to join {{invitation.board_title}}
              <md-button class="join" ng-click="respondToInvite(invitation.id, $index, 'yes')">Join</md-button>
              <md-button class="deny" ng-click="respondToInvite(invitation.id, $index, 'no')">Deny</md-button>
            </div>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

      <md-menu md-position-mode="target-right target" md-offset="0 60">
        <md-button class="md-icon-button" style="float:right;" aria-label="Open menu" ng-click="$mdOpenMenu($event)">
          <md-icon class="fa fa-bars"></md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="openCreateBoardModal()">
              <div>Create New Board</div>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="refreshProfile()">
              <div>Profile</div>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="signout()">
              <div>Sign Out</div>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>

  <md-content layout="row">
    <md-card flex="25" class="userContainer" hide-sm>
      <img src="{{userImage}}" class="md-card-image" alt="Profile Picture">
      <md-card-content>
        <div inline-edit=userName inline-edit-placeholder="Edit Name" inline-edit-on-blur="cancel" inline-edit-btn-edit='<i class="fa fa-pencil"></i>' inline-edit-callback='updateProfile(newValue)'></div>
      </md-card-content>
    </md-card>
    <div>
      <h3 class="boardsHeader">My Boards</h3>
      <div class="flexContainer">
        <div class="boardList" ng-repeat="board in boards">
          <div class="boardThumbnail" ng-click="loadBoard(board)">
            <p>{{board.boardName}}</p>
          </div>
        </div>
      </div>
    </div>
  </md-content>

</div>
