<div class="profileContainer">
  <div class="navBar" layout="row">
    <h1 flex="66" ng-click="loadProfile()" class="logo"><i class="fa fa-university"></i>Town Hall</h1>
    <div class="navButtons">
      <md-button ng-click="openCreateBoardModal()">+</md-button>
      <md-button ng-click="loadProfile()">Profile</md-button>
      <md-button ng-click="signout()">Sign Out</md-button>
    </div>
  </div>

  <div class="boardList" ng-repeat="board in boards">
    <div class="boardThumbnail" ng-click="loadBoard(board)">
      <p>{{board.boardName}}</p>
    </div>
  </div>
</div>
