<div class="chat-view">
  <div class="chatViewContainer">

    <!-- glues scroll bar to the bottom of the chat to see recent messages -->
    <div class="messageContainer" scroll-glue="glued">

    <!-- renders messages -->
      <div class="guestMessage" ng-repeat="message in messages" ng-class="{'userMessage': message.userId === user.id}">
        <!-- shows username -->
        <p class="chatUsername">{{message.name}}</p>
        <!-- shows message text -->
        <p class="guestChatMessageBody" ng-class="{'userChatMessageBody': message.userId === user.id}">{{message.message}}</p>
      </div>
    </div>
  </div>

  <!-- sends message on pushing enter -->
  <form ng-submit="sendMessage()">
    <!-- input area to type messages -->
    <input class="messageInput" ng-model="chat.message" type="text" placeholder="enter a message">
  </form>
</div>
